h1{
    color: rgb(162, 67, 8);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration : underline;
    text-transform: capitalize;
    text-indent: 2px;
    letter-spacing: 2px;
    word-spacing:1px;
    font-weight: lighter;
    font-size: 40px;
}
body{
    background-color:rgb(166, 222, 240)
}
p{
    font-size : 30px;
    font-family :cursive;
    text-align : center;
    text-indent: 40px ;
    color: rgb(14, 14, 157);
}
#para{
  font-size : 30px;
    font-family :cursive;
    text-align : center;
    text-indent: 40px ;
    color: rgb(0, 145, 60);
}
.header{
    color: rgb(162, 8, 136);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration : underline;
    text-transform: capitalize;
    letter-spacing: 2px;
    word-spacing:1px;
    font-weight: bold;
    font-size: 40px;
}

*{
    margin:100px;
    padding:10px;
}
